/* ////////////////컬러////////////////////////////////////////// */

/* 텍스트컬러 */

.main_black{ color: #000000 !important;}
.main_white{ color: #fff!important;}
.sub_text{ color: #8a8a8a !important;}
.point{ color: #7ED6D9 !important;}
.chat_gray{ color: #D2D2D2 !important;}
.chat_point{ color: #7ED6D9 !important;}

/* 배경컬러 */

.bg_white{ color: #ffffff !important;}
.bg_gray{ color: #EBEBEB !important;}
.bg_footer{ color: #5A5A5A !important;}


/* ////////////////여백////////////////////////////////////////// */

/* 여백(pc) - padding */

.gap_nav_inner{
    padding-left:90px !important;
}
.gap_intro_inner{
    padding-top: 230px !important;
}
.gap_intro_text_inner{
    padding-top: 35px !important;
}
.gap_person_inner{
    padding-left:30px !important;
}
.gap_title_inner{
    padding-top: 60px !important;
}
.gap_map_text_inner{
    padding-top: 35px !important;
}
.gap_event_text_inner{
    padding-top: 68px !important;
}
.gap_event_form_inner{
    padding-left:90px !important;
}
.gap_footer_inner{
    padding:44px 0 0 40px !important;
}

/* 여백(pc) - margin */

.gap_nav_outter{
    margin-left:90px !important;
}
.gap_intro_outter{
    margin-top: 230px !important;
}
.gap_intro_text_outter{
    margin-top: 35px !important;
}
.gap_person_outter{
    margin-left:30px !important;
}
.gap_title_outter{
    margin-top: 60px !important;
}
.gap_map_text_outter{
    margin-top: 35px !important;
}
.gap_event_text_outter{
    margin-top: 68px !important;
}
.gap_event_form_outter{
    margin-left:90px !important;
}
.gap_footer_outter{
    margin:44px 0 0 40px !important;
}


/* 여백(mobile) - padding */

.gap_m_nav_inner{
    padding:40px 0 !important;
}
.gap_m_intro_inner{
    padding-top: 180px !important;
}
.gap_m_intro_text_inner{
    padding-top: 60px !important;
}
.gap_m_title_inner{
    padding-top: 55px !important;
}
.gap_m_event_form_inner{
    padding-left:32px !important;
}
.gap_m_footer_inner{
    padding:120px 0 0 122px !important;
}


/* 여백(mobile) - padding */

.gap_m_nav_outter{
    padding:40px 0 !important;
}
.gap_m_intro_outter{
    padding-top: 180px !important;
}
.gap_m_intro_text_outter{
    padding-top: 60px !important;
}
.gap_m_title_outter{
    padding-top: 55px !important;
}
.gap_m_event_form_outter{
    padding-left:32px !important;
}
.gap_m_footer_outter{
    padding:120px 0 0 122px !important;
}


/* ///////////////////////////////폰트/////////////////////////////////// */

/* 폰트 Noto Sans KR(PC) */

.text_nav{font-size: 20px !important;}
.text_chat{font-size: 14px !important;}
.text_intro_big{font-size: 36px !important;}
.text_intro_sm{font-size: 24px !important;}
.text_person{font-size: 20px !important;}
.text_event{font-size: 24px !important;}
.text_footer{font-size: 15px !important;}


/* 폰트 Noto Sans KR(mobile) */

.text_m_nav{font-size: 40px !important;}
.text_m_chat{font-size: 30px !important;}
.text_m_intro_big{font-size: 48px !important;}
.text_m_intro_sm{font-size: 28px !important;}
.text_m_person{font-size: 30px !important;}
.text_m_event{font-size: 40px !important;}
.text_m_footer{font-size: 32px !important;}




/* 폰트굵기 font-weight */

.font500{font-weight: 500;}
.font700{font-weight: 700;}

/* line-height */

.line_auto{line-height: auto;}
.line_36{line-height: 36px;}